<!DOCTYPE html>
<html>
<head>
  <title>Twatter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="top-menu">
  <img src="https://greatrednorth.files.wordpress.com/2011/06/twatter_logo_sticker-p2179701256406.jpg" alt="">
  <h1>Welcome to Twatter</h1>
  <% if @current_user %>
  <div class="user-info">
    <p>Welcome <%= @current_user.name %></p>
    <a href="/logout"><button type="button" name="button">Logout</button></a>
  </div>
  <% end %>
</div>
<%= yield %>

</body>
</html>
